<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom CSS for the page */
        body {
            background-image: url('https://getwallpapers.com/wallpaper/full/7/4/6/480160.jpg'); /* Replace 'galaxy.jpg' with your image file */
        }
        .container {
            height: 100vh; /* Make the container take up the full viewport height */
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="text-center">
        <h1 style="color: #9fff0a">Welcome, <span th:text="${userName}"></span></h1>

        <p style="color: white">This is your user page.</p>
        <form action="/logout" method="get">
            <input type="submit" class="btn btn-primary" value="Logout">
        </form>
    </div>
</div>

<!-- Add Bootstrap JS scripts if needed -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
